<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">ID do Registro</label>
            <input type="text" class="form-control" id="ID" required [(ngModel)]="registro.id" name="ID">
        </div>

        <div class="form-group">
            <label for="name">Descrição do Registro</label>
            <input type="text" class="form-control" id="Descricao" required [(ngModel)]="registro.descricao" name="Descricao">
        </div>

        <div class="form-group">
            <label for="name">Despesa</label>
            <input type="text" class="form-control" id="Despesa" required [(ngModel)]="registro.despesa" name="Despesa">
        </div>

        <div class="form-group">
            <label for="name">Imagem do Registro</label>
            <input type="text" class="form-control" id="Imagem" required [(ngModel)]="registro.imagem" name="Imagem">
        </div>
        
        <div class="form-group">
            <label for="name">Tipo do Registro</label>
            <input type="text" class="form-control" id="Tipo" required [(ngModel)]="registro.tipo" name="Tipo">
        </div>

        <div class="form-group">
            <label for="name">Data de Criação</label>
            <input type="text" class="form-control" id="DataCriacao" required [(ngModel)]="registro.dataCriacao" name="DataCriacao">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>